DB_HOST=
#DB_HOST=host.docker.internal #Solo si usas dos intancias de docker una para la app y otra para la db 
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASWWORD=

JWT_SECRET=
REFRESH_JWT_SECRET=

#BACKEND PORT
SERVER_PORT=


#AWS ACCESS
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

AWS_CLOUDFRONT_DOMAIN=
AWS_CLOUDFRONT_ID_DISTRIBUTION=

RDS_CA_CERT=

COMODOS_FREE_ADS=3

ENABLE_CORS=comodos.co